$secondaryColor: rgb(25, 28, 32);
$errorColor: #da4358;
$tertiaryColor: rgb(235, 235, 235);
$dangerColor: #da4358;
$nav: #50555e;
$primaryColor: rgb(28, 161, 242);
$sideBarColor: #282c34;
$textColor: rgb(245, 245, 245);
$darkBackground: #191c20;
$darkPrimaryColor: #0570b9;
$darkDanger: #c13448;
