@import '../../../utils/scss/fontSize';
@import '../../../utils/scss/variables';
.headerContainer {
  display: flex;
  background-color: $nav;
  justify-content: space-between;
  letter-spacing: 1px;
}

@media print {
  .headerContainer {
    display: none;
  }
}

@page {
  margin: 0;
}
